@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg {
  background-color: white;
  background-image: url("assets/header-bg.png");
  background-repeat: no-repeat;
  background-size: 70% 100%;
  background-position: top left;
}

.map {
  background-image: url("assets/map.svg");
  background-size: contain;
  background-position: center;
}

@layer base {
  html {
    font-family: "DM Sans";
  }
}
